<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://jakubpav.github.io/blog/main.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
    <meta name="description" content="Jakub Pavelka's personal website.">
    <meta name="author" content="Jakub Pavelka">
    <meta name="keywords" content="Jakub, Pavelka, personal, website, portfolio">
    <meta name="theme-color" content="#ffffff">
    <title>{{ title-part }} -- jakubpav's Blog</title>
</head>

<body>
    <header>
        <h2><a href="/">jakubpav's Blog</a></h2>
    </header>
    <aside> {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }} </aside>
    <main> {{ content }} </main>
    <footer>
        <p>&copy; 2025 <a href="https://jakubpav.github.io" target="_blank">Jakub Pavelka</a> built with
            <a href="https://www.11ty.dev" target="_blank">11ty</a> |
            <a href="https://github.com/jakubpav/blog" target="_blank">Code</a> |
            <a href="https://github.com/jakubpav/blog/issues" target="_blank">Issues</a>
        </p>
    </footer>
</body>

</html>
